<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen  p-10 bg-zinc-800">
        <h1 class="text-3xl uppercase text-white">create your account</h1>
        <form class="mt-4" action="/register" method="post">
            <input type="text" name="name" placeholder="your name">
            <input type="email" name="email" placeholder="your email">
            <input type="password" name="password" placeholder="type your password">
            <input class="px-3 py-1 text-white bg-blue-400 rounded-md" type="submit" value="create">
        </form>
        <a class="text-white px-2 py-1 bg-blue-500 absolute top-10 rounded-md right-10" href="/login">login</a>
        <a class="text-white px-2 py-1 bg-red-500 absolute top-13 rounded-md right-10" href="/logout">logout</a>
    </div>
</body>
</html>